html {
  position: relative;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
  margin: 0;
  line-height: 1.5;
  --content-max-width: 45rem;

  /* Show scrollbar during render (reduces layout thrash since headings are sized via vmin. */
  &.front {
    min-height: 101vh;
  }
}
