html {
  position: relative;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
  margin: 0;
  line-height: 1.5;
  --content-max-width: 45rem;
  --color-bar-height: 1.5vh;
}

/* Show scrollbar during render (reduces layout thrash since headings are sized via vmin. */
body.front {
  min-height: 101vh;
}
