---
import '@fontsource/lato/400.css'
import '@fontsource/lato/900.css'
import ColorBar from './ColorBar.astro'
import HeroLogo from './HeroLogo'
import SideLogo from './SideLogo'

export interface Props {
  front?: boolean
  fullscreen?: boolean
}

const { front, fullscreen } = Astro.props
---

{
  front && (
    <header>
      <div id="spinner" aria-hidden="true">
        <HeroLogo client:load client:only="preact" />
      </div>
      <div class="heading">
        <h1>Hey, I'm Max.</h1>
        <h2>This is my journal and sketchbook.</h2>
      </div>
      <div class="scroll-down" aria-hidden="true" />
    </header>
  )
}
<ColorBar sticky />
<a id="side-logo" class:list={{ front, fullscreen }} href="/" title="Home">
  <SideLogo client:load client:only="preact" />
</a>

<script src="./scripts/viewport.ts"></script>

<style lang="less">
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    font-size: 1vmin;
    background: white;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100 - var(--color-bar-height));
    width: 100%;
    z-index: 20; // cover side logo
  }

  .heading {
    flex: 1;
    font-family: 'Lato', sans-serif;
  }

  h1,
  h2 {
    margin: 0;
    flex: 1;
  }

  h1 {
    font-size: 9em;
    font-weight: 900;
    letter-spacing: -0.025em;
    color: #111;
  }

  h2 {
    font-size: 4em;
    font-weight: normal;
    letter-spacing: -0.01em;
    color: #444;
  }

  #spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 0;
    flex: 4;

    &:active {
      cursor: move;
    }

    :global(canvas) {
      height: min(100%, 100vw);
      aspect-ratio: 1 / 1;
      opacity: 0;
      transition: opacity 0.5s ease;
    }
  }

  #side-logo {
    display: flex;
    position: fixed;
    width: 52px;
    height: 52px;
    left: 20px;
    top: 32px;
    z-index: 10;

    :global(canvas) {
      width: 100%;
      height: 100%;
      transition: opacity 0.5s ease;
      opacity: 0;
    }
  }

  @media (max-width: 900px) {
    #side-logo:not(.fullscreen) {
      left: auto;
      top: auto;
      right: 6px;
      bottom: 6px;
    }
  }

  .spacer {
    flex: 1;
  }

  .scroll-down {
    width: 5vmin;
    height: 5vmin;
    margin-bottom: 2rem;
    border: 3px solid #5faf5f;
    border-top: none;
    border-right: none;
    transform: translateX(-1.5px) scaleY(0.65) rotate(-45deg);
    transition: opacity 1s ease;
  }

  body.scrolled {
    .scroll-down {
      opacity: 0;
    }
  }
</style>
