---
export interface Props {
  centered?: boolean
}

const { centered } = Astro.props
---

<main class:list={{ centered }}>
  <slot />
</main>

<style>
  main {
    flex: 1;
    width: 100%;
    max-width: var(--content-max-width);
    margin: 3rem auto 1rem;
    padding: 1rem;
    box-sizing: border-box;
  }

  main.centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
