<main>
  <slot />
</main>

<style>
  main {
    flex: 1;
    width: 100%;
    max-width: var(--content-max-width);
    margin: 3rem auto 1rem;
    padding: 1rem;
    box-sizing: border-box;
  }
</style>
