---
export interface Props {
  url: string
  pubDate?: string
  isListingPage?: boolean
}

const { url, pubDate, isListingPage } = Astro.props

const urlParts = url.split('/')
const slug = urlParts[urlParts.length - 1]
---

<article>
  <span class="breadcrumbs">
    {!isListingPage && <a href="/">chromakode</a>}
    /
    <a href={url}>{slug}</a>
  </span>
  {pubDate && <time>{pubDate}</time>}
  <div class="post">
    <slot />
  </div>
</article>

<style lang="less">
  .breadcrumbs > a {
    font-weight: bold;
  }

  article {
    line-height: 1.5em;
    &:not(:last-child) {
      margin-bottom: 4em;
    }
  }

  article > .post {
    :global(a:not(:hover)) {
      text-decoration-color: rgba(var(--link-color), 0.25);
    }

    :global(a:visited:not(:hover)) {
      text-decoration-color: rgba(var(--link-visited-color), 0.25);
    }

    :global(img),
    :global(video) {
      width: 100%;
    }

    :global(img.tall) {
      display: block;
      margin: 0 auto;
      width: auto;
      max-height: 25em;
      max-width: 100%;
    }

    :global(time) {
      margin-left: 1em;
      font-size: 0.9em;
    }

    :global(h1),
    :global(h2) {
      font-family: 'Lato', sans-serif;
      line-height: 1.25em;
    }

    :global(h1) {
      margin-top: 0.75rem;
    }

    :global(h2) {
      margin-top: 1.5em;
      margin-bottom: 0.5em;
      font-size: 1.25em;
      color: #222;
    }

    :global(p > code),
    :global(li > code) {
      font-weight: normal;
      padding: 0.1em 0.33em;
      background: #f4f4f4;
      border-radius: 3px;
      white-space: nowrap;
    }

    :global(pre) {
      overflow: auto;
      padding: 0.66em;
      background-color: #f4f4f4 !important;
    }

    :global(hr) {
      border: none;
      border-bottom: 1px dashed gray;
    }

    :global(ol),
    :global(ul) {
      padding-inline-start: 1.35em;
    }
  }
</style>
